.advantages {
  background-color: $red-color;
  border-radius: 25px;
  color: $white-text;
  padding: 27px 24px;
  overflow: hidden;
  position: relative;
  z-index: 2;

  & .title {
    font-family: $Roboto;
    font-weight: $bold;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 43px;
  }

  & ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    & li {
      flex: 0 0 20%;
      display: flex;
      position: relative;
      transition: 0.5s;

      & span {
        flex: 0 0 27px;
        font-family: $Roboto;
        font-weight: $bold;
        font-size: 25px;
        line-height: 27px;
        margin-right: 9px;
        position: relative;
        transition: 0.3s;
      }

      & p:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.subscription {
  background-color: rgba(34, 34, 34, 0.8);
  border-radius: 0 0 25px 25px;
  padding: 50px 42px 16px 64px;
  margin-top: -33px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: $white-text;

  & p {
    margin: 0;
    font-family: $Roboto;
    font-weight: $bold;
    font-size: 16px;
  }

  & form {
    flex: 0 0 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    & input[type='text'],
    input[type='email'] {
      flex: 0 0 32%;
      border: 0;
      background-color: rgba(0, 0, 0, 0);
      border-bottom: 1px solid rgba(255, 255, 255, 0.6);
      transition: 0.5s;
      color: $white-text;
      padding: 5px 0;

      &:focus {
        border-bottom: 1px solid rgba(255, 255, 255, 1);
      }

      &::placeholder {
        color: rgba(255, 255, 255, 0.6);
      }
    }
  }
}
