.new-carousel {
  padding-top: 46px;

  .owl-nav {
    display: flex;
    align-items: center;
    position: absolute;
    top: 25px;
    right: 0;
    z-index: 2;

    & .owl-prev,
    .owl-next {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: $white !important;
      box-shadow: 0px 4px 10px rgba(66, 78, 79, 0.15);
      display: flex;
      justify-content: center;
      align-items: center;

      & span {
        display: none;
      }

      &::before {
        display: block;
        content: '';
        width: 9px;
        height: 14px;
      }
    }

    & .owl-prev {
      margin-right: 11px;

      &::before {
        display: block;
        content: '';
        width: 9px;
        height: 14px;
        background-image: url('../../images/prev.svg');
        margin-right: 2px;
      }
    }
  }

  & .owl-dots {
    display: none;
  }
}
