.customers-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 35px;

  & .section-title-block {
    flex: 0 0 27%;
  }

  & .customers-carousel-wrapper {
    flex: 0 0 64%;
    overflow: hidden;
  }

  & .section-title-block {
    padding-top: 46px;
  }
}

.customers-card {
  height: 130px;
  background-color: $white;
  border: 1px solid #ebebeb;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2px;

  & img {
    display: block !important;
    width: auto !important;
    max-width: 90%;
    max-height: 90%;
    object-fit: cover;
  }
}
