.menu {
  width: 100%;
}

.menu > ul {
  width: 100%;
  list-style: none;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu > ul > li {
  padding: 0;
  margin: 0;
}

.menu > ul > li > a {
  text-decoration: none;
  padding: 1.5em 3em;
  display: block;
  font-family: $Roboto;
  font-weight: $bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: $white-text;
  position: relative;
}

.menu > ul > li > a::after {
  display: block;
  content: '';
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.menu > ul > li:hover {
  background-color: $red-color;
}

.menu > ul > li > ul {
  display: none;
  width: 100%;
  background-color: $red-color;
  padding: 20px;
  position: absolute;
  z-index: 10;
  left: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

.menu > ul > li > ul > li {
  flex: 1 1 auto;
  display: block;
  margin: 0;
  padding-bottom: 0;
  list-style: none;
  background-color: none;
  margin-right: 30px;
}

.menu > ul > li > ul > li > a {
  color: $white-text;
  padding: 0.2em 0;
  display: block;
  width: 100%;
  font-size: 14px;
  font-weight: $bold;
  border-bottom: 1px solid $white-text;
  transition: 0.3s;
  box-sizing: border-box;
}

.menu > ul > li > ul > li > a:hover {
  color: $white-text;
  opacity: 0.7;
  padding-left: 10px;
}

.menu > ul > li > ul > li > ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 10px 0 0;
  list-style: none;
  box-sizing: border-box;
}

.menu > ul > li > ul > li > ul > li {
  display: block;
  width: 100%;
  padding: 10px 0;
  margin: 0;
  font-size: 0.8em;
  box-sizing: border-box;
  overflow: hidden;
}

.menu > ul > li > ul > li > ul > li > a {
  display: block;
  border: 0;
  font-size: 14px;
  color: $white-text;
  transition: 0.3s;
  box-sizing: border-box;
}

.menu > ul > li > ul > li > ul > li > a:hover {
  color: $white-text;
  opacity: 0.7;
  position: relative;
  transform: translate(10px, 0);
}

.menu > ul > li > ul.normal-sub {
  flex-wrap: wrap;
  width: 300px;
  left: auto;
  padding: 10px 20px;
}

.menu > ul > li > ul.normal-sub > li {
  flex: 0 0 100%;
}

.menu > ul > li > ul.normal-sub > li a {
  border: 0;
  padding: 1em 0;
  transition: 0.3s;
}

.menu > ul > li > ul.normal-sub > li a:hover {
  opacity: 0.7;
  padding-left: 10px;
}

.menu-mobile {
  display: none;
}
