.section-title-block {
  & .subtitle {
    font-family: $Roboto;
    font-weight: $bold;
    font-size: 20px;
    line-height: 22px;
    text-transform: uppercase;
    color: $text-color;
  }

  & .title {
    font-family: $Roboto;
    font-weight: $bold;
    font-size: 40px;
    line-height: 42px;
    text-transform: uppercase;
    color: $red-color;
  }
}
