/* Colors */

$white: #fff;
$black: #000;
$black-text: #000;
$white-text: #fff;
$text-color: #222222;
$red-color: #db4f4f;

/* Fonts */

$Open: 'Open Sans', sans-serif;
$Roboto: 'Roboto', sans-serif;

$light: 300;
$Regular: 400;
$bold: 700;

/* title */

$h1: 29px;
$h2: 28px;
$h3: 25px;
$h4: 19px;
$h5: 15px;
$h6: 13px;

/* font-text */

$font-text: 13px;
